.flex-container{
  border: 2px solid #000000;
  height: 96vh;
}
.palette-area{
  background-color: #dddddd;
  border-width: 4px;
  border-style: ridge;
  width: 200px;
  min-width: 200px;
  display: inline-block;
}
.modelling-area{
  border-right: 1px solid #333333;
  min-height: 100%;
  width: 97%;
}



