<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Export</title>
</head>
<body>
<br>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="import">
    <mat-card-content>
      <h2>Import</h2>
      <h4>Select the botton below to load an ontology file from the AOAME database</h4>
      <button class="button7" style="background-color:#2979FF" (click)="getModelsAndLanguagesMultipleSelectionFromGithub()">Import</button><br><br>
      <h4>Select the botton below to load an ontology file from your computer</h4>
      <app-file-upload></app-file-upload>
      <br><br>
    </mat-card-content>


  </mat-grid-tile>
  <mat-grid-tile class="export">
    <mat-card-content>
      <h2>Export</h2>
      <h4>Select the botton "Full Export" to download the complete model with all the ontology.</h4>
      <button class="button7" style="background-color:#2979FF" (click)="getModelsAndLanguages()">Full Export</button><br><br>
      <h4>Select the botton "Advanced Export" to download a selection of the model and ontology</h4>
      <button class="button7" style="background-color:#2979FF" (click)="getModelsAndLanguagesMultipleSelection()">Advanced Export</button>

    </mat-card-content>
    <!--<button style="height: fit-content; align-self: center" (click)="getModelsAndLanguagesADVANCEDwithDistinction()">Advanced Export</button>-->
   </mat-grid-tile>
</mat-grid-list>

<!--<button style="height: fit-content; align-self: center" (click)="LoadModelsAndLanguagesMultipleSelection()">Load languages into multiple selection</button>-->

</body>
</html>
