<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Export</title>
</head>
<body>
<br>
<button class="button7" style="background-color:#2979FF" (click)="getModelsAndLanguages()">Full Export</button>
<!--<button style="height: fit-content; align-self: center" (click)="getModelsAndLanguagesADVANCEDwithDistinction()">Advanced Export</button>-->
<button class="button7" style="background-color:#CCCCCC; color:#000000" (click)="getModelsAndLanguagesMultipleSelection()">Advanced Export</button>
<!--<button style="height: fit-content; align-self: center" (click)="LoadModelsAndLanguagesMultipleSelection()">Load languages into multiple selection</button>-->


</body>
</html>
