.category{  }

.category-title{
  text-align: center;
  margin: 0px;
  border-top: 1px solid darkslategray;
  margin-bottom: 5px;
}

.element-container {
  text-align: center;
  display: flex;
  width: 100%;
  display: inline-block;
}

.element{
  width: 45%;
  padding-top: 1px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 1px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.thumbnail{  height: 45px;  }
.element:nth-child(even){  float:right;  }
.element:nth-child(odd){  float: left;  }

ul {
  padding: 0;
  list-style-type: none;
  list-style:none;
}
li {
  padding: 0;
  list-style-type: none;
  list-style: none;
}


.element li{
  position: relative;
}

.paletteElement{
  padding-top: 3px;
}

.paletteElement:hover {
  display: block;
  position: absolute;
  background: lightgoldenrodyellow;
  border-radius: 6px;
}

.paletteElement > ul {
  display: none;
}

.paletteElement > app--tool-recursive-palette-element {
  display: none;
}

.paletteElement:hover app--tool-recursive-palette-element {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
}

app--tool-recursive-palette-element{
  background: darkslategray;
  border-radius: 8px;
  border: 1px solid gray;
  opacity: 0.7;
  filter: alpha(opacity=70);}

app--tool-recursive-palette-element:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
