.category{
  text-align: center;
  vertical-align: middle;
}

.category:hover{
  display: block;
  position: relative;
  z-index: 2000;
}

ul
{
  text-align: left;
  margin: 0;
  padding: 3px;
}

li
{
  list-style:none;
}

a
{
  text-decoration:none;
}

.element li
{
  position: relative;
}

.element > li:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.element li:hover
{
  background-color:#66819C;
}

.element li a
{
  display: block;
  min-width: 150px;
  padding: 2px;
}

.element li:hover a
{
  color:#FFF;

}

.element li ul
{
  position: absolute;
  top: 0;
  left: 100%;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:none;
}

.element li:hover > ul
{
  display:block;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.element li ul li
{
  background: grey;
  border-bottom:1px solid #000;
  border-top:none;
  border-left:none;
  border-right:none;
  text-align: left;
}

.element li ul li:last-child
{
  border-bottom: none;
}

.secondLevelElement li:hover a
{
  background-color:#66819C;
  cursor: pointer;
}

.thumbnail{
  height: 40px;
  text-align: left;
}

