 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<div class="category"*ngFor="let category of (mService.paletteCategorie$ | async)">
  <p class="category-title">{{category.label}}</p>
  <nav class="element-container">
    <ng-container *ngFor="let element of mService.paletteElements">
    <ul class="element" *ngIf="(element.paletteCategory == category.id)">
      <li class="paletteElement" ><a [contextMenu]="rightClickMenu" [contextMenuSubject]="element" (click)="addNewShape(element)"><img class="thumbnail"  src="../assets/images/{{element.thumbnailURL}}" /></a>
        <app--tool-recursive-palette-element (sendElementFromRecursiveElement)="addNewShape($event)" [child]="element"></app--tool-recursive-palette-element>
      </li>
    </ul>
    </ng-container>
  </nav>
</div>


 <context-menu>
   <ng-template let-element contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
     Extend {{element.label}}
   </ng-template>
   <ng-template contextMenuItem [subMenu]="saySubMenu">
     Edit
   </ng-template>
   <context-menu #saySubMenu>
     <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
       Add new Attribute / Property
     </ng-template>
     <ng-template let-element contextMenuItem (execute)="showMessage('Hola, ' + $event.item.name)">
       Edit {{element.label}}
     </ng-template>
   </context-menu>
   <ng-template let-element contextMenuItem (execute)="removeFromPalette($event)">
     Hide
   </ng-template>
   <ng-template let-element contextMenuItem (execute)="removeFromPalette($event)">
     Delete
   </ng-template>
 </context-menu>
