<mat-toolbar>
  <div class="mat-toolbar-tools">
    <!-- <h2>Extend {{data.paletteElement.label}}</h2>-->
    <h2>Relations for </h2>
  </div>
</mat-toolbar>
<mat-dialog-content style="max-width:800px;max-height:810px; ">

  <h2 class="mat-display-2">Create New Relation</h2>
  <mat-card>


  </mat-card>







</mat-dialog-content>

<mat-dialog-actions layout="row">
  <button mat-raised-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" mat-autofocus >Cancel</button>
  <!--<button mat-raised-button color="primary" (click)="insertNewProperty()" style="margin-right:20px;" >Ok</button> -->
</mat-dialog-actions>

