<title>Titolino</title>
<body>Piccolo body
<mat-form-field>
<mat-select [(value)]="selectedOption" placeholder="Select language">
  <mat-label>Select Language</mat-label>
  <mat-option value="cmmn">CMMN</mat-option>

  <mat-option value="bpmn">BPMN</mat-option>
  <mat-option value="apqc">APQC</mat-option>

  <mat-option value="archimeo">ARCHIMEO</mat-option>
  <mat-option value="archimate">ARCHIMATE</mat-option>


</mat-select>

  <button mat-button (click)="onNoClick()">Cancel</button>

</mat-form-field>


  <h2>Random text to divide</h2>
  <button (click)="getLanguage()">Export language</button>

</body>


