<div class="outer-padding">
  <button mat-raised-button color="primary" (click)="createNewDiagram()">Create +</button>
  <mat-divider class="horizontal-margin"></mat-divider>

  <mat-grid-list cols="5" rowHeight="16rem" gutterSize="1rem">
    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let model of models">
      <mat-card class="diagram-card" matRipple>
        <mat-card-title (click)="openModel(model.id)">
          {{model.label}}
        </mat-card-title>

        <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Empty background">-->
        <div class="empty-blue-div" (click)="openModel(model.id)"></div>
        <mat-card-actions>
          <button mat-button (click)="editDiagram(model)">EDIT</button>
          <button mat-button (click)="deleteDiagram(model.id)">DELETE</button>
        </mat-card-actions>

        <mat-card-footer></mat-card-footer>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
