<div style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row">
    <mat-form-field appearance="fill">
      <mat-select
        (change)="selectionChanged($event)"
        [(ngModel)]="selectedModel">
        <mat-option *ngFor="let model of models" [value]="model">{{model.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button style="height: fit-content; align-self: center" (click)="openModelCreationModel()">Add</button>
    <button style="height: fit-content; align-self: center" (click)="deleteModel()">Delete</button>

    <div *ngIf="selectedConnectorMode">
      Current arrow configuration:
      <img style="max-height: 40px; max-width:40px" [src]="'../assets/images/Arrows/' + selectedConnectorMode.fromArrow + '.PNG'" >
      <img style="max-height: 40px; max-width:120px" class="thumbnail" [src]="'../assets/images/Strokes/' + selectedConnectorMode.arrowStroke + '.PNG'" >
      <img style="max-height: 40px; max-width:40px" class="thumbnail" [src]="'../assets/images/Arrows/' + selectedConnectorMode.toArrow + '.PNG'" >
    </div>
  </div>
  <div style="display: flex; flex-direction: row">
    <div id="myDiagramDiv" style="flex-grow: 1; height: 1000px; "></div>
    <diagram-detail
      *ngIf="diagramDetailsToDisplay != undefined && selectedModel != undefined"
      [diagramDetail]="diagramDetailsToDisplay"
      [model]="selectedModel"
      (closeRequest)="closeDetails()"
      style="width:500px"
    ></diagram-detail>
  </div>
</div>
