.palette-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2em;
}

.palette-item {
  margin-bottom: 30px;
  text-align: center; /* Center the content horizontally */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn, .dropbtn-task {
  color: #fbfbfb;
  padding: 16px;
  font-size: 16px;
  border: 1.5px solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the button horizontally */
}

.dropbtn {
  background-color: rgba(122, 228, 163, 0.88);
  border-color: #49ec57;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-size: cover;
}

.dropbtn-task {
  background-color: #f1c27c;
  border-color: #fdb36a;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  position: relative;
  background-size: cover;
}

.dropbtn-task img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbfafa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(12, 45, 62, 0.5);
  z-index: 1;
}

.dropdown-content .dropdown-item,
.dropdown-content .task-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover,
.dropdown-content .task-item:hover {
  background-color: #f8b333;
}

.dropdown-content .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid #00fd6c;
  background-color: #76fda9;
}

.dropdown-content .start-event {
  border: 2px solid #37ff00;
  background-color: #06594e;
  width: 48px;
  height: 48px;
}

.dropdown-content .end-event {
  border: 2px solid #ff1e00;
  background-color: #f1a84f;
  width: 48px;
  height: 48px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #82fb98;
}

.dropdown:hover .dropbtn-task {
  background-color: #f1c27c;
}

.section-title {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 0;
  background-color: rgba(34, 50, 96, 0.85); /* Blue background color */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Adjust margin bottom for spacing */
}

.react-flow__handle[data-handlepos="top"] {
  display: none !important;
}

.connectors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center the connectors */
}

.connector-item img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1.5px solid #056e60;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.connector-item img:hover {
  background-color: #038a77;
  transform: scale(1.1);
}

.lane {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.lane-header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
}

.lane-activities {
  display: flex;
  flex-wrap: wrap;
}

.node {
  margin: 5px;
}

.hover-options {
  position: absolute;
  background: #f8ca97;
  border: 1px solid #ebeef1;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

/* Styles for Task Nodes */
.dropdown-content .task-item {
  border: 1px solid #f8b333;
  border-radius: 10px;
  width: 103px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b3b5b5;
  color: #f8b333;
  font-size: 0px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(247, 250, 250, 0.2);
  user-select: none;
  transition: background-color 0.3s ease;
  margin: 20px 0;
  position: relative;
}

.dropdown-content .task-item img {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100px;
  height: 55px;
}

.dropdown-content .task-item:hover {
  background-color: #fdb36a;
  color: #f69f34;
}

/* Error Message Section */
.error-message {
  background-color: #ffcccb;
  color: #900c3f;
  border: 1px solid #e63946;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style for element names below buttons */
.element-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-radius: 4px;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
}

.context-menu button:hover {
  background: #f0f0f0;
}
