<form>
  <mat-toolbar>
    <div class="mat-toolbar-tools">
     <!-- <h2>Extend {{data.paletteElement.label}}</h2>-->
      <h2>Create a new Modeling Element</h2>
    </div>
  </mat-toolbar>
  <mat-dialog-content style="max-width:800px;max-height:810px; ">

        <h2 class="mat-display-2">Extend {{data.paletteElement.label}}</h2>
        <mat-card>
          <form class="form">

            <div layout="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Label" name="input_label" [(ngModel)]="currentPaletteElement.label" [value]="currentPaletteElement.label" required>
            </mat-form-field>


           <mat-form-field class="full-width">
              <mat-select placeholder="Map to Domain Ontology Concept" name="input_domainOntology" [(ngModel)]="currentPaletteElement.representedDomainClass" >
                <mat-option *ngFor="let class of mService.domainClasses" [value]="class.id" >{{class.label}}</mat-option>
              </mat-select>
            </mat-form-field>
              <button mat-raised-button color="primary" (click)="openCreateDomainElementModalFromExtend(data.paletteElement)">Create New</button>

            </div>

            <div layout="row">

            <mat-checkbox ng-model="rootElement">Palette root element</mat-checkbox>


              <!--<label>Parent Element: {{data.paletteElement.label}}</label>-->
            <!--<mat-form-field class="full-width">
              <<mat-select  placeholder="Parent element">
                <mat-option [value]="data.paletteElement.label">{{data.paletteElement.label}}</mat-option>
              </mat-select>
            </mat-form-field>-->

            <mat-form-field class="full-width">
              <mat-select disabled="true" [(ngModel)]="data.paletteElement.paletteCategory" placeholder="Category" name="category.label">
                <mat-option *ngFor="let category of mService.paletteCategories" [value]="category.id">{{category.label}}</mat-option>
              </mat-select>
            </mat-form-field>

            </div>

            <div layout="row">
            <mat-form-field class="full-width">
              <!--<input type="url" matInput placeholder="Palette Image URL">-->
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Activities') !== -1)" [(ngModel)]="currentPaletteElement.thumbnailURL" placeholder="Palette Image (thumbnail)" name="image.label">
                <mat-option *ngFor="let image of activityImageList" [value]="image.thumbnailName">
                  <img class="thumbnail" [src]="image.thumbnailURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Events') !== -1)" [(ngModel)]="currentPaletteElement.thumbnailURL" placeholder="Palette Image (thumbnail)" name="image.label">
                <mat-option *ngFor="let image of eventImageList" [value]="image.thumbnailName">
                  <img class="thumbnail" [src]="image.thumbnailURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Gateways') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
                <mat-option *ngFor="let image of gatewayImageList" [value]="image.imageName">
                  <img class="thumbnail" [src]="image.thumbnailURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Data') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
                <mat-option *ngFor="let image of dataObjectImageList" [value]="image.imageName">
                  <img class="thumbnail" [src]="image.thumbnailURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Activities') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
              <mat-option *ngFor="let image of activityImageList" [value]="image.imageName">
                <img class="thumbnail" [src]="image.imageURL" [alt]="image.label" >
                {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Events') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
                <mat-option *ngFor="let image of eventImageList" [value]="image.imageName">
                  <img class="thumbnail" [src]="image.imageURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Gateways') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
                <mat-option *ngFor="let image of gatewayImageList" [value]="image.imageName">
                  <img class="thumbnail" [src]="image.imageURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
              <mat-select *ngIf="(data.paletteElement.paletteCategory.search('Category_Data') !== -1)" [(ngModel)]="currentPaletteElement.imageURL" placeholder="Canvas Image" name="image.label">
                <mat-option *ngFor="let image of dataObjectImageList" [value]="image.imageName">
                  <img class="thumbnail" [src]="image.imageURL" [alt]="image.label" >
                  {{image.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
<!--
            <div layout="row">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Min height of Canvas Image (in px)">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Min width of Canvas Image (in px)">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="Label position">
                <mat-option value="Inside">Inside</mat-option>
                <mat-option value="Outside - Up">Outside - Up</mat-option>
                <mat-option value="Outside - Down">Outside - Down</mat-option>
                <mat-option value="Hide">Hide</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
   -->
            <br />
            <!--<mat-accordion>
              Default properties:
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Property1</mat-panel-title>
                  <mat-panel-description>DataObject</mat-panel-description>
                </mat-expansion-panel-header>
                <label>Range: Activity Task</label>
                <mat-form-field style="margin-left:50px;">
                  <input matInput placeholder="Default value">
                </mat-form-field>

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Property2</mat-panel-title>
                  <mat-panel-description>Datatype</mat-panel-description>
                </mat-expansion-panel-header>
                <label>Range: Integer</label>
                <mat-form-field style="margin-left:50px;">
                  <input matInput placeholder="Default value">
                </mat-form-field>

              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Property3</mat-panel-title>
                  <mat-panel-description>Datatype</mat-panel-description>
                </mat-expansion-panel-header>
                <label>Range: String</label>
                <mat-form-field style="margin-left:50px;">
                  <input matInput placeholder="Default value">
                </mat-form-field>

              </mat-expansion-panel>

            </mat-accordion> -->
          </form>
        </mat-card>

  </mat-dialog-content>


</form>
<mat-dialog-actions layout="row">
  <button mat-raised-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" mat-autofocus (click)="onCloseCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="createElementInOntology()" style="margin-right:20px;" >Ok</button>
</mat-dialog-actions>

<!-- https://github.com/angular/material2/issues/5269 -->
