.button6:active{
  top:0.1em;
}

.button7:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

mat-grid-tile {
  background: lightblue;
}

.sbvr {
  background-image: url("../../assets/images/whiteForEap.jpg");
  backdrop-filter: blur(5px);
  background-position: center;
  padding: 90px 90px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  margin-left: 50px;
  margin-right: 50px;
}

.sbvr h1{

  color:blue;
  font-size: 50px;
  font-weight: bold;
}



.sbvr h2{
  color:black;
  font-style: italic;
  font-size: 25px;
}

.centered{
  display: flex;
  justify-content: center;
}

.center {
  margin: auto;
  width: 50%;
  border: 1px dot-dot-dash dodgerblue;
  padding: 10px;
}

.button10 {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;

}
.tickForHidden{
  display: none;
}
