<ul *ngFor="let sbchild of child.childElements ">
  <li *ngIf="sbchild.parentElement == child.id" class="NthLevelElement"><a [contextMenu]="elementRightClickMenu" [contextMenuSubject]="sbchild" (click)="addNewShape(sbchild)"><img  class="thumbnail" src="../assets/images/BPMN-CMMN/{{sbchild.thumbnailURL}}" />{{sbchild.label}}</a>
    <app--tool-recursive-palette-element (showActivityElementPropertyModal1)="toggleActivityElementPropertyModal($event)"
                                         (showExtendPaletteElementModal1)="toggleExtendPaletteElementModal($event)"
                                         (sendElementFromRecursiveElement)="addNewShape($event)" [child]="sbchild"></app--tool-recursive-palette-element>
  </li>
</ul>

<context-menu>
  <ng-template let-sbchild contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
    Extend {{sbchild.label}}
  </ng-template>
  <ng-template contextMenuItem [subMenu]="saySubMenu">
    Edit
  </ng-template>
  <context-menu #saySubMenu>
    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      Add new Attribute / Property
    </ng-template>
    <ng-template let-sbchild contextMenuItem (execute)="showMessage('Hola, ' + $event.item.name)">
      Edit {{sbchild.label}}
    </ng-template>
  </context-menu>
  <ng-template let-element contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
    Remove from palette
  </ng-template>
</context-menu>

<context-menu #elementRightClickMenu>
  <ng-template let-element contextMenuItem (execute)="openExtendPaletteElementModal($event.item)">
    Extend {{element.label}}
  </ng-template>
  <ng-template contextMenuItem [subMenu]="saySubMenu">
    Edit
  </ng-template>
  <context-menu #saySubMenu>
    <ng-template contextMenuItem (execute)="openActivityElementProperty($event.item)">
      Add new Attribute
    </ng-template>
    <ng-template let-element contextMenuItem (execute)="openExtendPaletteElementModal($event.item)"> <!-- openPaletteElementPropertiesModal -->
      Edit {{element.label}}
    </ng-template>
  </context-menu>
  <ng-template let-element contextMenuItem (execute)="something">
    Hide
  </ng-template>
  <ng-template let-element contextMenuItem (execute)="removeFromPalette($event.item)">
    Delete
  </ng-template>
</context-menu>
