<mat-table [dataSource]="diagramDetailDatasource" class="mat-elevation-z8">

  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.relation.relation}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input *ngIf="element.selectorOptions == undefined"
             type="text"
             [(ngModel)]="element.relation.value" />
      <mat-form-field *ngIf="element.selectorOptions != undefined">
        <mat-select [(ngModel)]="element.relation.value"
                    name="value">
          <mat-option *ngFor="let value of element.selectorOptions" [value]="value.id">{{value.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <button (click)="save()">Save</button>
</mat-table>

<mat-table [dataSource]="modelElementAttributeDatasource" class="mat-elevation-z8">

  <ng-container matColumnDef="key">
    <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.relation.relation}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <input type="text" [(ngModel)]="element.relation.value" />
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button (click)="save()">Save</button>
<button (click)="close()">Close</button>
